<!DOCTYPE html>
<html>
  <head>
    <title>Application Process 2 - Applicants</title>
  </head>
  <body>
    <table border="2" style="width:450px;">
      <tr>
        <td><strong>Applicant's first name</strong></td>
        <td><strong>Application code</strong></td>
        <td><strong>Creation date</strong></td>
      </tr>
      {% for data in apps %}
      <tr>
        {% for field in data %}
        <td>{{field}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>